//@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';
@import "variables/_colors.scss";
@import "variables/_fonts.scss";

@import "_bootstrap.scss";
@import "font-awesome/_font-awesome.scss";
@import "global/_mainstyles.scss";

@import "components/_customowl.scss";
@import "components/_banner.scss";
@import "components/_blue-block.scss";
@import "components/_main-cta.scss";
@import "components/_navbar.scss";
@import "components/_custom-pagination.scss";
@import "components/_buttons.scss";
@import "components/_contact-form.scss";

@import "partials/_header.scss";
@import "partials/_home.scss";
@import "partials/_casestudies.scss";
@import "partials/_testimonials.scss";
@import "partials/_services.scss";
@import "partials/_blog.scss";
@import "partials/_social-links.scss";
@import "partials/_page.scss";
@import "partials/_footer.scss";

@import "partials/_wordpress.scss";


/* Contact Page
---------------
*/
.location-sc-map {
  background-color: $seashell;
  &.box-flip{
    background-color: #fff !important;
  }
}

.location-box {
  @extend .row;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 360px;
  .location-image img {
    width: 100%;
  }
  .location-content {
    padding: 35px 40px;
//    background: #f5f5f5;
    //      width:40%;
    float: right;
    &.box-flip{
      float: left !important;
    }
    .fa {
      color:$hcs-blue;
    }
  }
  .location-map {
    position: relative;
    padding: 0 !important;
    //      width:60%;
    float: right;
    &.box-flip{
      float: left !important;
    }
  }
  iframe {
     height: 460px;
  }
  h4, .h4, .sub {
  }
  h4, .h4{
    font-weight: bold;
    font-size: 20px;
    color: $hcs-blue;
  }
  .alignmentfl {
    text-align:left;
    &.box-flip{
      text-align:right !important;
    }
  }

  .mailer-sp {
    color: $hcs-blue;
  }
  a{
    color: $text-color !important;
  }
}
@media only screen and (max-width : $screen-xs-max) {
  .location-box {
  padding: 0 !important;;
  }
  .location-content {
    padding: 35px 0 !important;;
  }
  iframe {
    height: 240px !important;
  }
}
