/* Blog Archive Index */
#blg-bg {
  background-color: $seashell;
  padding:35px 0;
}
.blg-title  {
  padding:15px 0px;
}
.related-title {
  font-weight:normal;
  margin-bottom: 25px;
}
ul#archive-menu {
  list-style-type: none;
  margin: 0;
  background-color:$white;
  overflow: hidden;
  padding:15px;
  margin-bottom: 15px;
  li {
    float:right;
    width:160px;
    font-weight:bold;
    text-align:right;
    padding-left:8px;
  }
}
@media only screen and (max-width : $screen-xs-max) {
  ul#archive-menu {
    list-style-type: none;
    margin: 0;
    background-color:$white;
    overflow: hidden;
    padding:15px;
    li {
      float:right;
      width:100%;
      font-weight:bold;
      text-align:right;
      padding-left:8px;
    }
  }
}

.search-lister  {
  width:280px !important;
}
.back-button {
//  background-color:$ikon-blue;
  color:$white;
  padding:5px 10px 0px 10px;
}
.blg-listing  {
  background-color: $white;
  margin-bottom: 25px;
  min-height:500px;
  h3  {
    font-size:18px;
    padding-bottom:5px !important;
  }
  span {
    font-weight: 300;
//    font-stretch: 14px;
  }
  p {
    padding:0px 20px;
  }
}
.blg-listing-img  {
  width:100%;
  max-height:280px;
}

//  Responsive Container
@media only screen and (max-width : $screen-sm-max) {
  .blg-listing {
    min-height:500px;
  }
}
@media only screen and (max-width : $screen-xs-max) {
  .blg-listing {
    min-height:400px;
  }
}

//  Responsive images
@media only screen and (max-width : $screen-md-max) {
  .blg-listing-img {
    width: 100%;
    max-height: 260px;
  }
}
@media only screen and (max-width : $screen-sm-max) {
  .blg-listing-img {
    width: 100%;
    max-height: 220px;
  }
}
@media only screen and (max-width : 360px)  {
  .blg-listing-img  {
    width:100%;
    max-height:170px;
  }
  .mob-form  {
    margin-left:15px;
    width:100% !important;
  }
}

.archive-blg {
}
/* Search form styles */
#cat, .archive-blg {
  border:0px !important;
  color: $black;
}
.blg-search  {
  background-color:$seashell;
  color: $black;
}

// Blog single
#blgin-title {
  h1  {
    font-size:36px;
    color: $font-grey;
    font-weight: 300;
  }
}
#blgin-banner  {
  margin:20px;
}