#case-study-block  {
  text-align:center;
  min-height:440px;
  padding-top:30px;
  .case-img  {
    position: relative;
    .cs-img {
      width: 100%;
    }
    margin-bottom:35px;
  }
  .adobe   {
    position: absolute;
    bottom:-20px;
    right:20px;
  }
  .title  {
    font-size:22px;
    font-weight:bold;
    color:$hcs-blue;
  }
}