#footer  {
  background-color: $footer-bg-grey;
  color:$white;
  padding:50px 0px;
  p {
    font-size:14px;
  }
  .grey-ft {
    color:$font-light-grey;
  }
  @media only screen and (min-width : $screen-md-max) {
    .grey-ft-pd {
      padding:0 !important;
      color:$font-light-grey;
    }
  }
}
@media only screen and (max-width : $screen-xs-max) {
  #footer {
      text-align: center!important;
  }
  .mobile-ft-pad  {
    padding-bottom:25px;
  }
}
#pre-footer  {
  background-color: $hcs-blue;
  padding: 50px 0;
  color:$white;
  span  {
    font-size: 22px;
    line-height:32px;
    font-weight: bold;
  }
  .contact-btn  {
    background-color: transparent;
    border:2px solid #fff;
    margin:0px 20px;
    font-size:21px;
    font-weight:bold;
    border-radius:10px;
    padding:15px 25px;
    transition: all 0.3s ease 0s;
  }
  .contact-ctn:hover  {
    background-color: $white !important;
    color:$hcs-blue !important;
  }
}


ul.footer-nav {
  list-style: none !important;
  color:$white;
  margin:0px;
  padding:0px;
  li {
    padding:5px 0px;
  }
  li a {
     color:$white;
    font-size:14px;
   }
  li a:hover {
    border-bottom:1px solid $white;
    text-decoration: none !important;
  }
}

.ft-title  {
  font-size:18px;
}
#ft-logo {
  padding:20px 0;
  img {
    display: block;
    margin:0 auto;
  }
  .pd-ft  {
    padding:15px 0 5px 0;
  }
}