#header  {
  padding:10px 0 0 0;
}
.site-logo  {
  width:150px; height:75px;
}
@media only screen and (max-width : $screen-md-max) {
  #header  {
    padding:0;
    min-height:110px;
  }
}

#contact-header  {
  .fa  {
    color:$hcs-blue;
  }
  font-size:20px;
  padding:15px 0px 10px 0px;
  font-weight:bold;
  .email  {
    color:$hcs-blue;
    font-size:16px;
  }
}