/* Custom Titles */
#home-tag {
  padding: 75px 0 35px 0;
  text-align: center;
  h1  {
    font-size:36px;
    color: $font-grey;
    font-weight: 300;
  }
  .gen-sub-title  {
    font-size:24px;
    color: $hcs-blue;

  }
}

/* LOGO CAROUSEL */
#logo-caro   {
padding:20px 0 50px 0;
}
.ww-title {
  font-size:24px;
  color: $font-grey;
  font-weight:bold;
}
.logo-thumb  {
  display: block;
  margin:0 auto;
}

/* LATEST NEWS */
#latest-news  {
  background-color: $seashell;
  padding: 50px 0px;
  h3  {
    padding-bottom:45px;
  }
}
.newsbg  {
  background-color: $white;
  display:block;
  margin:0 auto;
  padding-bottom: 15px;
  .inner-article {
    padding:0px 20px;
  }
  .hp-feed-img  {
    width:100%;
  }
  h4  {
    padding:20px 0px;
  }
  .btnrm {
    color:$hcs-blue;
  }
}
//  Responsive images
@media only screen and (max-width : $screen-md-max) {
  .hp-feed-img  {
    width:100%;
    max-height:260px;
  }
}
@media only screen and (max-width : $screen-sm-max) {
  .hp-feed-img  {
    width:100%;
    max-height:220px;
  }
}
@media only screen and (max-width : 360px)  {
  .hp-feed-img {
    width:100%;
    max-height:170px;
  }
}

@media only screen and (max-width : $screen-sm-max) {
  .newsbg  {
    min-height: 575px !important;
  }
}
@media only screen and (max-width : $screen-xs-max) {
  .newsbg  {
    min-height: 450px !important;
  }
}

