#page-content {
  padding: 75px 0;
  h1  {
    font-size:36px;
    color: $font-grey;
    font-weight: 300;
  }
  .gen-sub-title  {
    font-size:24px;
    color: $hcs-blue;
  }
}

//Contact Page
#cfpage-content {
  padding: 0 0 75px 0;
  h1  {
    font-size:36px;
    color: $font-grey;
    font-weight: 300;
  }
  .gen-sub-title  {
    font-size:24px;
    color: $hcs-blue;
  }
}

#sector-icons {
  padding:40px 0;
  .fa  {
    color:$font-grey;
    font-size:44px !important;
    padding-bottom:20px;
  }
  .col-md-3  {
    padding:20px 0;
  }
  color:$hcs-blue;
  text-align: center !important;
  font-weight:bold;
}

#request-form   {
  padding:50px 0;
  h1  {
    font-size:36px;
    color: $font-grey;
    font-weight: 300;
  }
  .gen-sub-title  {
    font-size:24px;
    color: $hcs-blue;
  }
  .cf-submit  {
    padding:15px 45px;
    font-size:20px;
    font-weight:bold;
    font-family:$open-sans;
    color:$white;
    display: block;
    margin:0 auto;
    border:1px solid $white;
    border-radius:6px;
    background-color: $hcs-blue;
    transition: all 0.3s ease 0s;
  }
  .cf-submit:hover  {
    background-color: $white !important;
    color:$hcs-blue !important;
    border:1px solid $hcs-blue !important;
  }
  span.wpcf7-not-valid-tip {
    color: $hcs-blue;
    font-weight:normal;
    text-align: center;
    font-size:18px !important;
  }
//  select   {
//    height:55px;
//  }
  option  {
    padding:10px 10px;
  }
  .wpcf7-file   {
    margin:0 auto;
    display: block;
    margin-bottom: 30px;
    padding-left:92px;
    text-align:center;
  }

}
