#service-content {
  padding: 75px 0;
  h1  {
    font-size:36px;
    color: $font-grey;
    font-weight: 300;
  }
  h2  {
    color:$hcs-blue;
    font-size:28px;
    font-weight:normal;
  }
  .gen-sub-title  {
    font-size:24px;
    color: $hcs-blue;
  }
  strong {
    font-size:22px;
  }
}