.header-socials{
  //height:2.4286em;
  height:3.5714em;
  font-size: 14px;
  //height:50px;
}

.header-socials a.sociallink2{
  background:#4f4f4f;
  padding: 0.75em 0.25em;
  border-right: 1px #eee solid;
  float: right;
}.header-socials a.sociallink2:first-child{
   border-left: 1px #eee solid;
 }

.ie8 .header-socials a.sociallink2 {

  padding: 0.75em 0.25em !important;
  min-width:1.5em;
  width:1.5em;
}
.header-socials a.sociallink2 .ss{padding: 1.25em 0.25em;
}
.ie8 .header-socials a.sociallink2 .ss{padding: 1.25em 0.25em !important;
  min-width:1.5em;
  width:1.5em;
}
.header-socials a.sociallink2 .ss2{

//  top:2.5em;left:0;
  color: #fafafa;
}
.header-socials a.sociallink2:hover .ss1{
  top:	-2.5em;
}

.header-socials a.sociallink2 .ss1{
  color:#aaaaaa;
}
a.sociallink2:link,a.sociallink2:visited{color: inherit;}
.header-socials a.sociallink2:hover{color: #fafafa;}

.fa.fa-custom-falkon_url_fb:before{content: "\f09a";}
.fa.fa-custom-falkon_url_twitter:before{content: "\f099";}
.fa.fa-custom-falkon_url_google_plus:before{content: "\f0d5";}
.fa.fa-custom-falkon_url_linkedin:before{content: "\f0e1";}
.fa.fa-custom-falkon_url_youtube:before{content: "\f16a";}
.fa.fa-custom-falkon_url_inst:before{content: "\f16d";}
.fa.fa-custom-falkon_url_pin:before{content: "\f0d2";}
.fa.fa-custom-falkon_url_vimeo:before{content: "\f27d";}
.fa.fa-custom-falkon_url_tumblr:before{content: "\f173";}

//this
a.sociallink2{
  color: #2d2d2d !important;
  display: inline-block;
  border-radius: 10px !important;
  line-height: 0;
  background:#c9c9c9;
  position:relative;
  text-align:center;
  font-size: 20px; font-size:2.0rem; height:1em; min-width:2em;
  padding:1em 0.5em;
  overflow:hidden;
  margin:0 3px;
}
.ie8 a.sociallink2{
  min-width:2em;
  width:2em;
  border-radius: 10px !important;
}

a.sociallink2 .ss{
//  background:#052967;
  text-align:center;
  display:block;
  border-radius: 10px !important;
  font-size: 20px; font-size:2.0rem; height:1em; min-width:2em;
  padding:1em 0.5em;
  background:inherit;
  line-height: 0 !important;
  position:absolute;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.ie8 a.sociallink2 .ss{
  min-width:2em;
  width:2em;
}
a.sociallink2 .ss2{background:#3b5998;}
a.sociallink2 .ss1{top:0;left:0;}
a.sociallink2 .ss2{

  top:3.286em;left:0;
}
a.sociallink2:hover{
  text-decoration:none;
}
a.sociallink2:hover .ss1{
  top:	-3.286em;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.sociallink2:hover .ss2{
  top:	0em;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


a.sociallink2 .ss2.fa-twitter,a.sociallink2 .ss2.fa-custom-falkon_url_twitter{background:#00aced;}
a.sociallink2 .ss2.fa-google-plus,a.sociallink2 .ss2.fa-custom-falkon_url_google_plus{background:#dd4b39;}
a.sociallink2 .ss2.fa-linkedin,a.sociallink2 .ss2.fa-custom-falkon_url_linkedin{background:#007bb6;}
a.sociallink2 .ss2.fa-youtube,a.sociallink2 .ss2.fa-custom-falkon_url_youtube{background:#bb0000;}
a.sociallink2 .ss2.fa-instagram,a.sociallink2 .ss2.fa-custom-falkon_url_inst{background:#517fa4;}
a.sociallink2 .ss2.fa-pinterest,a.sociallink2 .ss2.fa-custom-falkon_url_pin{background:#cb2027;}
a.sociallink2 .ss2.fa-vimeo,a.sociallink2 .ss2.fa-custom-falkon_url_vimeo{background:#aad450;}
a.sociallink2 .ss2.fa-tumblr,a.sociallink2 .ss2.fa-custom-falkon_url_tumblr{background:#32506d;}