#testimonial-block {
  background-color: transparent;
  padding: 75px 0;
  strong {
    color: $hcs-blue;
    font-size: 26px;
    font-style: italic;
    line-height: 32px;
    font-weight: 400;
    padding-bottom:40px;
  }
  .owl-item  {
    min-height:250px;
  }

    @media only screen and (max-width : $screen-sm-max) {
      strong  {
        font-size:18px !important;
      }
      .owl-item  {
        min-height:200px !important;
      }
  }

   @media only screen and (max-width : $screen-xs-max) {
     strong {
       font-size: 20px !important;
     }
      .owl-item {
        min-height: 380px !important;
     }
  }
  @media only screen and (max-width : 370px) {
    strong {
      font-size: 20px !important;
    }
    .owl-item {
      min-height: 480px !important;
    }
  }
}


.fader {
  opacity:0;
}
.quote-block {
  position: relative;
  &:before {
    content: '\201C \201D';
    color: #ededed;
    font-size: 160px;
    font-family: "Georgia";
    line-height: 0;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: -20px;
  }
}

#testimonial-feed-item {
  background-color: transparent;
  padding: 50px 0;
  border-bottom:1px solid #ececec;
  strong {
    color: $font-grey;
    font-size: 18px;
    font-style: italic;
    line-height: 38px;
    font-weight: 400;
  }
  .author-fd  {
    float:right;
    font-size:18px;
    font-weight:bold;
    color:$font-author;
  }

}
.fader {
  opacity:0;
}
.quote-block {
  position: relative;
  &:before {
    content: '\201C \201D';
    color: #ededed;
    font-size: 160px;
    font-family: "Georgia";
    line-height: 0;
    display: inline-block;
    position: absolute;
    z-index:-999;
    top: 40px;
    left: -20px;
  }
}