body {
  font-family: $open-sans;
  line-height:20px;
}
h1,h2,h3,h4,h5  {
  font-weight: 700;
  margin-top:0px;
  margin-bottom:0px;
  padding:15px 0px;
}
h2  {
  font-size: 34px;
}
h3 {
  line-height:32px;
  font-size: 30px;
}
h4  {
  line-height:32px;
}
h5 {
  line-height: 28px;
}
p  {
  line-height: 28px;
  font-size: 14px;
}


.hcs-blue  {
  color:$hcs-blue;
}
.blue-cnt-title  {
  color:$hcs-blue;
  font-size:20px;
}
a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}
.np {
  padding:0px !important;
}
img  {
  max-width:100%;
}
.custom-pad  {
  padding-left:8px;
  padding-right:8px;
}
.spacer-bottom {
  padding-bottom:40px;
}