// Page Banner
.banner-nrt {
  background-color: #000;
  position: relative;
  overflow:hidden;
}
.banner-nrt img {
  width:100%;
  opacity: 0.75;
}

.no-img-upl {
  background-color: #000;
  position: relative;
  overflow:hidden;
}
.no-img-upl  img {
  width:100%;
  max-height:440px;
  opacity: 0.5;
}



.banner-nrt-title {
  position: absolute;
  text-align: center;
  width: 50%;
  bottom: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding-bottom:20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 15px;
  .title {
    font-size: 34px;
    font-weight: bold;
    display: block;
    margin: 20px 0;
    line-height:38px;
  }
}

@media only screen and (max-width : $screen-xs-max) {
  .banner-nrt-title {
    width:100%;
    bottom:15%;
    padding-bottom:0;
    .title  {
      font-size: 22px;
      font-weight: bold;
      display: block;
      line-height:28px;
      padding-bottom:0;
      margin:20px 0;
    }
  }

}
@media only screen and (max-width : 400px) {
  .banner-nrt-title {
    width:100%;
    top:15%;
    padding-bottom:0;
    .title  {
      font-size: 18px;
      font-weight: bold;
      display: block;
      line-height:19px;
      padding-bottom:0;
      margin:20px 0;
    }
  }

}
//
//@media only screen and (max-width : $screen-sm-max) {
//  .banner-nrt-title {
//    width:100%;
//    .title  {
//      font-size: 22px;
//      font-weight: bold;
//      display: block;
//      line-height:28px;
//      margin:20px 0;
//    }
//  }
//
//}