#blue-block  {
  background-color: $hcs-blue;
  color:#fff;
  font-size:16px;
  line-height:32px;
  margin:40px 0px;
  h4  {
    font-size:24px;
    font-weight:bold;
    line-height: 34px;
  }
  /* TEXT PADDING */
  .vert-bp  {
    padding:25px 0 0 20px;
  }
  .vert-bp-hp  {
    padding:5px 0 0 5px;
  }

  /* Home page Padding on XL screens */
  @media only screen and (min-width: 1420px) {
    .vert-bp-hp  {
      padding:12% 15px 0 15px;
    }
    .vert-bp  {
      padding:10% 10px 0 15px;
    }
  }
  /*Tablet and below - both home and service */
  @media only screen and (max-width : $screen-md-max) {
    .vert-bp, .vert-bp-hp   {
      padding:60px 15px 60px 15px;
    }
  }
  @media only screen and (max-width : $screen-md-max) {
    .vert-bp, .vert-bp-hp   {
      padding:60px 2px 60px 2px;
    }
  }

  /* IMAGES RESIZING */
  .info-imgs  {
    width:100%;
  }
  .info-imgs-service  {
    width:100%;
  }
  @media only screen and (min-width: $screen-lg-min) {
    .info-imgs  {
      min-height:428px;
      width:100%;
    }
    .info-imgs-service  {
      min-height:350px;
      width:100%;

    }
  }
}



