.btn-transparent {
  background-color: transparent;
  transition: all 0.25s ease-in-out;
  min-width:50%;
  text-align: center;
  border:2px solid $white;
  padding:10px;
  border-radius: 10px !important;
  color:$white !important;
}
.btn-transparent:hover {
  background-color: $white;
  color: $hcs-blue !important;
}

.btn-blue  {
  background-color: transparent;
  transition: all 0.25s ease-in-out;
  min-width:45%;
  text-align: center;
  padding:10px;
  border:0px !important;
  border-radius: 10px !important;
  color:$hcs-blue !important;
}
.btn-blue:hover {
   background-color: transparent;
   color: $hcs-blue !important;
   border:1px solid $hcs-blue;
 }

.btn-blue-bg   {
  background-color: $hcs-blue;
  width:75%;
  color: $white;
  padding:20px 15px;
  display:block;
  font-weight: 700; font-size:18px;
  border:0px !important; border-radius: 10px;
  margin:0 auto;
}