.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
  width:100%;
  padding:25px 15px;
  font-weight: 300 !important;
  font-size:16px;
  margin:15px 0;
}

.wpcf7 textarea  {
  margin-bottom: 40px;
}

//submit button is in the main cta scss

div.wpcf7-validation-errors {
  border: 2px solid $hcs-dark-blue;
  padding:10px;
  text-align: center;
}