#clientlogo-carousel  {
  margin:40px 0px;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -90px;
  top: -80px;
  background-color: transparent;
  padding: 20px;
  margin: 5px;
  color: #000 !important;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-theme .owl-controls .owl-buttons .owl-prev:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1) !important;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -90px;
  top: -80px;
  background-color: transparent;
  padding: 20px;
  margin: 5px;
  color: #000 !important;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-theme .owl-controls .owl-buttons .owl-next:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1) !important;
}


@media only screen and (max-width: 1340px) {
  .owl-buttons  {
    display: none;
  }

}
