.pagination  {
  display: inline-block;
  padding-left: 0;
  margin: 0 0;
  line-height: 0;
}

.pagination > li > a, .pagination > li > span {
  padding-top:30px;
  padding-bottom:30px;
  border:0px !important;
  color:#000;
  border-radius:0px;
  font-size:18px;
  font-weight: bold;
  margin:0px !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #e9e9e9;
  color:#000;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin:0px !important;
}