/* MAIN CTA all default*/
#main-cta-hd  {
  background-color: $hcs-blue;
  padding: 50px 0;
  color:$white;
  position: relative;
  @media only screen and (max-width : $screen-xs-max) {
    padding: 20px 0;
  }
  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea {
  border:0 !important;
  }
  span  {
    font-size:26px;
    font-weight: bold;
  }
  @media only screen and (max-width : $screen-sm-max) {
    span  {
      font-size:18px;
      font-weight: bold;
    }
  }
  .cf-submit  {
    border:2px solid $white;
    padding:15px 45px;
    font-size:20px;
    font-weight:bold;
    font-family:$open-sans;
    color:$white;
    display: block;
    margin:0 auto;
    border-radius:6px;
    background-color: $hcs-blue;
    transition: all 0.3s ease 0s;
  }
  .cf-submit:hover  {
    background-color: $white !important;
    color:$hcs-blue !important
  }
  span.wpcf7-not-valid-tip {
    color:#fff;
    font-weight:normal;
    text-align: center;
    font-size:18px !important;
  }
}

/* MAIN CTA all default*/
#main-cta-hd-cpg {
  background-color: $hcs-blue;
  padding: 50px 0;
  color:$white;
  position: relative;
  @media only screen and (max-width : $screen-xs-max) {
    padding: 20px 0;
  }
  span  {
    font-size:26px;
    font-weight: bold;
  }
  @media only screen and (max-width : $screen-sm-max) {
    span  {
      font-size:20px;
      font-weight: bold;
    }
  }
  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea {
    border:1px solid #cecece;
  }
}
#main-cta-hd-cpg:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(28, 143, 190, 0);
  border-top-color: #1c8fbe;
  border-width: 40px;
  margin-left: -40px;
}
#cfpg-form {
  padding:75px 0 35px 0;
  .cf-submit  {
    padding:15px 45px;
    font-size:20px;
    font-weight:bold;
    font-family:$open-sans;
    color:$white;
    display: block;
    margin:0 auto;
    border:1px solid $white;
    border-radius:6px;
    background-color: $hcs-blue;
    transition: all 0.3s ease 0s;
  }
  .cf-submit:hover  {
    background-color: $white !important;
    color:$hcs-blue !important;
    border:1px solid $hcs-blue !important;
  }
  span.wpcf7-not-valid-tip {
    color: $hcs-blue;
    font-weight:normal;
    text-align: center;
    font-size:18px !important;
  }
}

.frontpage-icon{
  border: 2px #dedede solid;
  width:100px;
  height:60px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  margin-left:20px;
  @media only screen and (max-width : $screen-sm-max) {
    width:65px;
    height:40px;
    border-radius: 10px;
    display: block;
    margin:0 auto;
    margin-top:10px;
  }
  .fa{
    font-size:48px;
    line-height: 55px;
    color:$white;
    @media only screen and (max-width : $screen-sm-max) {
      line-height: 38px;
      font-size:32px !important;
    }
  }
}

#cta-form  {
  margin-top:40px;
}

