// Styling
.navbar-default {
  background-color: transparent;
  border:0 !important;
  font-size:14px;
  font-family: $open-sans;
  font-weight: 600;
}
.navbar {
  margin:0;
  .dropdown-menu {
    background-color: $white;
    left:1%;
    min-width:200px;
    border:1px solid #f0f0f0;
    padding:0;
    border-radius: 0 !important;
   }
   .dropdown-menu > li > a  {
      padding:10px 20px;
    }
   .dropdown-menu > li > a:hover  {
       background-color: $menu-hover;
    }
}
.navbar-right {
  margin-top:10px;
}
.navbar-default .navbar-nav > li > a {
  color:#404041;
//  padding-top:40px;
//  padding-bottom:40px;
}
.navbar-nav {
  > li {
    position: relative;
  }
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: #404041;
      background-color: #fff !important;

    }
  }
  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: #404041;
      background-color: #fff !important;
    }
  }
}
.navbar-default .navbar-toggle {
  margin: 20px 0px 20px 20px;
  padding:  20px;
  border: none;
  border-radius: 0;
  height: 60px;
  text-align: center;
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #000;
  font-weight: bold;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $menu-hover;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color:  $menu-hover;
  color:$font-grey;
}

/* 3rd tier dropdown */
.marginBottom-0 {margin-bottom:0;}
//.dropdown-menu {
//  min-width:250px !important;
//}
.dropdown-submenu{
  position:relative;
}
.dropdown-submenu>.dropdown-menu{
  top:0;left:100%;margin-top:-1px;margin-left:-1px;
}
//.dropdown-submenu>a:after{
//  display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;
//}
.dropdown-submenu:hover>a:after{
  border-left-color:#555;
}
.dropdown-submenu:hover>a:focus{
  background-color: transparent !important;
}
.dropdown-submenu.pull-left{
  float:none;
}
// mobile active highlight
.dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;margin-left:10px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: transparent;
}

// Caret rules
.arrw  {
  display:none !important;
}
.menu-item-has-children {
  .arrw {
    display: inline !important;
    padding-left:10px;
  }
}
.dropdown-menu  {
  .arrw  {
    display: none !important;
  }
  .fa-caret-down:before {
    content: "\f0da" !important;
  }
  .menu-item-has-children {
    .arrw {
      float: right;
      display: inline !important;
    }
  }
}
.dropdown-submenu {
  .menu-item {
    .arrw {
      display: none !important;
    }
  }
}
// -end

/* | MOBILE | */
.cont-pddin  {
  padding:50px 0 25px 40px;
  color:#fff;
  letter-spacing: 1px;
  strong  {
    font-size: 24px;
  }
}
/* Hamburger */
.navbar-toggle {
  border: none;
  position:absolute;
  background: transparent !important;
  top:35px;
  right:5px;
  z-index:9999;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.55s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: #fff !important;
  }
  .middle-bar {
    opacity: 0;
    background-color: #fff;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color: #fff;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
      background-color: #000 !important;
    }
    .middle-bar {
      opacity: 1;
      background-color: #000;
    }
    .bottom-bar {
      transform: rotate(0);
      background-color: #000;
    }
  }
}
#menu {
// Start mobile menu styles
  z-index: 9990;
  font-size: 16px;
  width: 100%;
  background: $hcs-blue;
  position: absolute;
  text-align: left;
  height: auto;
  hr  {
    color:#fff;
    width:80%;
    margin:0 auto;
  }
  ul {
    margin: 0;
    padding-top:15px;
    padding-left:0;
    padding-bottom:20px;
    list-style-type: none;
    list-style-image: none;
    li a {
      text-decoration: none;
      padding-left:40px;
      color: $white;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
  li {
         display: block;
         min-width:100%;
         padding: 12px 0;
         &:hover {
           display: block;
         }
  }
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
    &:focus {
      background-color: transparent !important;
    }
  }
  .dropdown-menu {
    margin:20px 0;
    border:0;
    box-shadow:0 !important;
    background-color: $hcs-dark-blue;
    min-width: 100%;
    position: relative;
    height: auto;
    padding-top:0 !important;
    padding-bottom:0 !important;
    > li > a {
      padding:0 0 0 60px !important;
      width:100%;
    }
    > li > a:hover {
      background-color: transparent;
    }
  }
  .caret  {
    float: right !important;
    margin-right:20%;
    vertical-align: bottom !important;
  }
// End mobile menu styles
}


/// show mobile toggle rules
@media only screen and (max-width : $screen-md-max) {
  #menu {
    .fa  {
      color:$white;
      padding-right:35px;
    }
    .fa {
      display: none !important;
    }
    .menu-item-has-children {
      .fa {
        display: block !important;
        float: right;
      }
    }
    .sub-menu {
      display: none !important;
      padding-left:10px;
      font-size:14px !important;
      .fa {
        display: none !important;
      }
      .menu-item {
        .fa {
          display: none !important;
        }
      }
      .menu-item-has-children {
        .fa {
          display: block !important;
        }
      }
      .sub-menu {
        .fa {
          display: none !important;
        }
        .menu-item {
          .fa {
            display: none !important;
          }
        }
      }

    }
    .active {
      display: block !important;
    }
  }

}
// early mobile collapse
@media only screen and (max-width : $screen-md-max) {
  .navbar {
    padding-left: 0px;
  }
  .navbar-header {
    float: none;
    border: 0px;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {

  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    border: 1px solid #dadada;
    padding-bottom: 5px;
    background-color: #f9f9f9;
  }
  .collapse.in {
    display: block !important;
  }
}
// end early mobile collapse

// Make dropdown appear on hover - md upwards
@media only screen and (min-width : $screen-md-max) {
  .dropdown-menu {
    min-width: 280px !important;
  }
  // main parent hover
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  // submenu hover
  .dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
}