.gallery_meta_control{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

#imggal{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
#imggal li{
    float: left;
    margin:0 12px 12px 0;
    width:100px;
    height: 100px;
    background: #f4f4f4;
    cursor: all-scroll;
    position: relative;
    vertical-align: top;
}
#imggal img{
    width:100%;
    height:auto;
    display: block;
    line-height: 0;
    border:1px #f4f4f4 solid;
}

.flkn-image-bar {
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    display: none;
    text-align: center;
}
.flkn-image-bar a{color: #fff; text-decoration: none;}
a.flkn-edit-file:hover{text-decoration: underline;}
#imggal li:hover .flkn-image-bar {
    display: block;
}

.flkn-delete-all-files{
    line-height: 26px;
}