// GENERAL colors
$seashell: #f1f1f1;
$hcs-blue: #1c8fbe;
$hcs-dark-blue: #107aa6;


$white: #fff;
$footer-bg-grey: #2d2d2d;
$black: #000000;

// MENU
$menu-hover: #f0f0f0;


// FONT colors
$font-author:#707070;
$font-grey: #656565;
$font-light-grey: #c9c9c9;